<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediConnect">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MediConnect.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.HomeActivity" android:exported="false"/>
        <activity android:name=".ui.categories.CategoriesActivity" android:exported="false"/>
        <activity android:name=".ui.specialities.SpecialitiesActivity" android:exported="false"/>
        <activity android:name=".ui.doctor.DoctorDetailsActivity" android:exported="false"/>
        <activity android:name=".ui.favorites.FavoritesActivity" android:exported="false"/>

    </application>

</manifest>
